<nav id="sidebarMenu" class="navbar navbar-vertical navbar-expand-lg navbar-light">
  <div>
    <div class="px-2 py-3">
      <a class="" href="/">
        <div class="padas_logo">
          <img class="padas_header_logo normal-image" src="/assets/img/padas_logo_color.png">
          <img class="padas_header_logo hover-image" src="/assets/img/padas_logo_dark.png">
          <span class="h5 align-middle text-center">PADAS</span>
        </div>
      </a>
    </div>
    <div class="" id="navbarSupportedContent">
      <span class="h4 text-padas-dark px-2">
        Documentation
      </span>
      <ul class="nav flex-column mb-5">
        <li class="nav-item sidebar-heading px-2 mt-4 text-muted align-items-center d-flex justfiy-content-between">
          <a class="nav-link" href="/docs/index.html">
            <span class="ps-2">Overview</span>
          </a>
        </li>
        {% for item in site.data.navigation_docs.items %}
        <div class="sidebar-heading px-2 mt-4 text-muted align-items-center d-flex justfiy-content-between">
          <a class=" link-toggle rounded" data-bs-toggle="collapse" href="#{{ item.uid }}" role="button"
            aria-expanded="false" aria-controls="{{ item.uid }}">
            <span>{{ item.name }}</span>
          </a>
        </div>
        <div class="px-2 collapse {% if item.file == page.name %}show active{% endif %}" id="{{ item.uid }}">
          <div>
            {% for entry in item.subitems %}
            <li class="nav-item">
              <a class="nav-link" href="{{ item.link }}#{{ entry.anchor }}">
                <span class="ps-2">{{ entry.name }}</span>
              </a>
            </li>
            {% endfor %}
          </div>
        </div>

        {% endfor %}
      </ul>
      <a class="nav-link text-padas-color fixed-bottom" href="/">
        <span class=""><i class="bi bi-arrow-left-short"></i> Back to padas.io</span>
      </a>
    </div>
  </div>
</nav>