body {
  font-size: 1rem;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block; }

article > section:not(:first-child) {
  margin-top: 3.125rem; 
}

article > section > .row {
  margin-top: 30px;
  margin-bottom: 30px; 
}

.container {
  max-width: 960px;
}


a {
  color: #24d4f7;
  transition: ease-in-out color .15s;
}

a:hover {
  color: #24d4f7;
  text-decoration: underline;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

/* Logo related
-------------------------------------------------- */
.hover-image, .padas_logo:hover .normal-image {
  display: none;
}

.padas_logo:hover .hover-image {
  display: inline;
}

.padas_header_logo {
  height: 40px;
}

.padas_footer_logo {
  height: 100px;
}
   
/*
 * Extra utilities
 */

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }

/*
 * Footer
 */
#footer a {
  color: inherit;
  text-decoration: none;
}

#footer a:hover {
  text-decoration: underline;
}

/*
 * Navbar
 */
.navbar-padas {
  height: 72px;
  background-color: #353637;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  font-size: 1rem;
}

.navbar-padas a {
  color: #f1f3f5;
  transition: ease-in-out color .15s;
}
.navbar-padas a:hover {
  color: #24d4f7;
  text-decoration: none;
}


.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: #353637;
  /*box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);*/
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #f1f3f5;
  /*background-color: rgba(255, 255, 255, .1);*/
  background-color: #353637;
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
  * Sidebar
  */

.doc-sidebar {
  padding: 30px;
  border-right: 1px solid #f1f3f5; 
}

.doc-sidebar a {
  color: #353637;
  transition: ease-in-out color .15s;
}

.doc-sidebar a:hover {
  color: #24d4f7;
  text-decoration: none;
}

.doc-content-header {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 30px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5; 
}
@media (min-width: 992px) {
  .doc-content-header {
    margin-bottom: 0;
    padding: 30px 3.125rem; 
  } 
}
@media (max-width: 991.98px) {
  .doc-content-header {
    border-top: 1px solid #e5e5e5;
    background: #fff; 
  } 
}
.doc-content-header .breadcrumb {
  margin: 0;
  padding: 0;
  border: 0; 
}

.doc-content-body {
  margin-top: 0 !important; 
}
.doc-content-body > article {
  padding: 15px; 
}
.doc-content-body > aside {
  padding: 15px;
  border-left: 1px solid #e5e5e5; 
}
@media (min-width: 992px) {
  .doc-content-body > article {
    padding: 3.125rem; 
  }
  .doc-content-body > aside {
    padding: 3.125rem 30px; 
  } 
}
.doc-content-body .toc {
  margin-left: -30px;
  margin-right: -30px; 
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  /*padding: 72px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: 100vh; /*calc(100vh - 72px);*/
  padding-top: .5rem;
  padding-bottom: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #353637;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #353637;
}

.sidebar .nav-link.active ,
.sidebar .nav-link:hover {
  color: #24d4f7;
}

/*.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}*/

.sidebar-heading {
  font-size: 1rem;
  text-transform: uppercase;
}

.sidebar-heading a {
  color: #353637;
}

.visited-link-icon, .sidebar-heading:visited .normal-link-icon {
  display: none;
}

.sidebar-heading:visited .visited-link-icon {
  display: inline;
}

/*
 * Positioning sample images
 */
 .padas-alert-sample {
  position: absolute;
  right: 5%;
  bottom: -20%;
  width: 400px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0);
  background-image: url("/assets/img/padas_alert_sample1.png");
  opacity: 0.3;
  border-radius: 21px;
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg);
}

.padas-alert-sample-2 {
  position: absolute;
  left: 5%;
  bottom: -5%;
  width: 400px;
  height: 300px;
  opacity: 0.3;
  border-radius: 21px;
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
  background-image: url("/assets/img/padas_alert_sample2.png");
}

.padas-behind {
  z-index: 10;
}

.padas-front {
  z-index: 20;
}